<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhang.dao.GoodMapper" >
  <resultMap id="BaseResultMap" type="com.zhang.po.Good" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="goods_type" property="goodsType" jdbcType="INTEGER" />
    <result column="goods_name" property="goodsName" jdbcType="VARCHAR" />
    <result column="selling_points" property="sellingPoints" jdbcType="VARCHAR" />
    <result column="goods_summary" property="goodsSummary" jdbcType="VARCHAR" />
    <result column="suit_target" property="suitTarget" jdbcType="VARCHAR" />
    <result column="teacher_ids" property="teacherIds" jdbcType="VARCHAR" />
    <result column="goods_price" property="goodsPrice" jdbcType="REAL" />
    <result column="goods_indate" property="goodsIndate" jdbcType="INTEGER" />
    <result column="goods_rebate_price" property="goodsRebatePrice" jdbcType="REAL" />
    <result column="goods_rebate" property="goodsRebate" jdbcType="REAL" />
    <result column="course_ids" property="courseIds" jdbcType="VARCHAR" />
    <result column="sell_count" property="sellCount" jdbcType="BIGINT" />
    <result column="grade" property="grade" jdbcType="REAL" />
    <result column="views" property="views" jdbcType="BIGINT" />
    <result column="img_url" property="imgUrl" jdbcType="VARCHAR" />
    <result column="thumbnail" property="thumbnail" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="show_status" property="showStatus" jdbcType="INTEGER" />
    <result column="is_vip" property="isVip" jdbcType="INTEGER" />
    <result column="enable_time" property="enableTime" jdbcType="TIMESTAMP" />
    <result column="our_ratings" property="ourRatings" jdbcType="INTEGER" />
    <result column="goods_explain" property="goodsExplain" jdbcType="LONGVARCHAR" />
  </resultMap>
</mapper>